params {
	unphased_vcfs = "/path/to/unphased/vcf/*.vcf.gz" // or *.bcf
	window = 10000000
	flank = 1000000
	shapeit_exec = "/path/to/shapeit4/bin/shapeit4"
        shapeit_maps = "/path/to/shapeit4/maps/"
}


process {
	executor = "slurm"
	//cluster allocation account name
	//clusterOptions = "--account=" 
	//executor = "local"
}

executor {
	$slurm {
		queueSize = 1000
		queueStatInterval = "3min"
		pollInterval = "3min"
		submitRateLimit = "5 sec"
		jobName = { "phasing" }
	}
	$local {
		cpus = 1
	}
}
