params {
	unphased_vcfs = "../Cleaned/*.bcf"
	window = 1000000
	flank = 250000
	shapeit_exec = "~/tools/shapeit4/bin/shapeit4"
        shapeit_maps = "~/tools/shapeit4/maps/"
}


process {
	//executor = "slurm"
	executor = "local"
	cpus = 1
	time = "12h"
	memory = "4GB"
}

executor {
	$slurm {
		queueSize = 1000
		jobName = { "phasing" }
	}
	$local {
		cpus = 1
	}
}
